# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
pyaudio
SpeechRecognition
google-api-python-client
oauth2client
PySide2
scikit-surgerycore
pvporcupine
#PocketSphinx #uncomment this to get sphinx working
